<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AcmenXiaoKe/static@master/admin/lib/layui-v2.6.5/css/layui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AcmenXiaoKe/static@master/admin/css/common.css">
  {block name="link"}
  {/block}
</head>
<body>
<div class="layui-layout layui-layout-admin">
  {block name="header"}
{/block}

  {block name="aside"}
  {/block}

  {block name="main"}
  {/block}
</div>
<script src="https://cdn.jsdelivr.net/gh/AcmenXiaoKe/static@master/admin/lib/layui-v2.6.5/layui.js"></script>
<script src="https://cdn.jsdelivr.net/gh/AcmenXiaoKe/static@master/admin/js/common.js"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
{block name="footer_script"}
{/block}
</body>
</html>