
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <div class="logo">
                <img src="https://cdn.jsdelivr.net/gh/AcmenXiaoKe/static@master/admin/images/logo.svg" alt="">
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item ">
                    <a class="" href="/admin/">控制台</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">全局模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/personal_settings">个人设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">快捷操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/write_post">撰写文章</a></dd>
                        <dd><a href="/admin/write_page">撰写页面</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">内容管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/manage_posts">文章管理</a></dd>
                        <dd><a href="/admin/manage_page">独立页面</a></dd>
                        <dd><a href="/admin/Comments">用户评论</a></dd>
                        <dd><a href="/admin/manage_categories">分类管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">网站设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/options_general">基本设置</a></dd>
                        <dd><a href="/admin/email">邮箱设置</a></dd>
                        <dd><a href="/admin/template_config">外观设置</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
