
<div class="side_mask"></div>
    <div class="layui-header">
        <div class="side_switch">
            <span class="layui-icon layui-icon-spread-left"></span>
        </div>
        <div class="Subject_switch_wrap layui-nav_item">
            <div class="Subject_switch">
                <input type="checkbox" name="" id="Subject_switch_btn" />
                <span class="Subject_switch_btn_icon sun">🌞</span>
                <span class="Subject_switch_btn_icon moon">🌜</span>
            </div>
        </div>
        <div class="layui-nav layui-layout-right">
            <div class="layui-nav_item">
                <a href="#">{$name | default = '用户名不存在！'}</a>
            </div>
            <div class="layui-nav_item exit">
                <a href="javascript:;">退出</a>
            </div>

        </div>
    </div>